<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1>This is the join page</h1>



<form id = "joinNewUser" action = "/join/newuser" method = "post">
  <input type = "text" name = "username" placeholder = "name"/><br>
  <input type = "text" name = "alias" placeholder = "screen name"/><br>
  <input type = "password" name = "password" placeholder = "password"/><br>
  <button id = "newuser" type = "submit" value = "Join"/>Join</button>
</form>


  </body>
</html>
